<%= form_for(@article) do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<table style="width:100%">
  <tr>
    <td width="30%"><%= f.label :编号 %></td>
    <td><%= f.text_field :id %></td>
  <tr>
  <tr>
    <td width="30%"><%= f.label :作者 %></td>
    <td><%= f.text_field :name %></td>
  <tr>
  <tr>
    <td width="30%"><%= f.label :标题 %></td>
    <td><%= f.text_field :title %></td>
  <tr>
  <tr>
    <td width="30%"><%= f.label :内容 %></td>
    <td><%= f.text_area :content, :rows=>5 %></td>
  <tr>
</table>
<p> <%= f.submit %> </p>
<% end %>
