<p>
       <%= link_to '添加一篇新的文章', new_article_path %>
 </p>
<fieldset>
        <legend>文章列表</legend>
<table style="width:100%">
  <tr>
    <th>编号</th>
    <th>标题</th>
    <th> 用户</th>
    <th colspan="3">操作</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.name %></td>
    <td><%= link_to '查看详细信息', article %></td>
    <td><%= link_to '编辑', edit_article_path(article) %></td>
    <td><%= link_to '删除', article, :confirm => '确定要删除吗?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</fieldset>