<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
  <title>窗内网的空间</title>
</head>
<body>
<div class="page_wrap clearfix">
  <div class="top"></div>
  <div class="header">
    <h1>窗内网的空间</h1>
    窗内网致力于免费网络教学,图书出版/署名,视频教程..... <img src="/images/tongue.gif" alt="" width="20" height="20" /></div>
  <div class="container clearfix">
    <div class="left_nav" id="nav">
      <div class="left_nav_top"></div>
      <ul>
        <li><a href="#">[1] 返回首页</a></li>
        <li><a href="#">[2] 我的博客</a></li>
        <li><a href="#">[3] 发表随笔</a></li>
        <li><a href="#">[4] 嘻哈相册</a></li>
        <li><a href="#">[5] 标签归类</a></li>
        <li><a href="#">[6] 个人档案</a></li>
        <li><a href="#">[7] 亲朋好友</a></li>
        <li><a href="#">[8] 看看微博</a></li>
      </ul>
      <div class="left_nav_bottom"></div>
    </div>
  <%= yield %>
  </div>
  <div class="bottom clearfix">
    <div class="footer clearfix"> Copyright, 2010 itZcn.com &nbsp;&#8226;&nbsp; Design
      by somboy </div>
  </div>
</div>
</body>
</html>